.focus{
    border: 1px solid gray;
}

.focus:focus{
    border:1px solid #CCB100;
}
.post-button:hover{
    background-color: #CCB100;
    transition: all .3s ease-in;
}
@media (max-width:767px) {
    .none-comment-img,.blog-detail-right-box{
        display: none;
    }

}