@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  max-width: 2000px;
  width: 100%;
  margin: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --logo-color: #001b54;
  --orange-color: #f8931f;
  --blue-color: #07407b;
}
.links {
  position: absolute;
  top: 37%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 23px;
  font-family: cursive;
  display: flex;
  justify-content: center;
  width: 100%;
}
.commo-header-img{
  color:rgb(201, 236, 236) ;
}
.textOnImageStyle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 70px;
  line-height: 0.02rem;
  margin-top: 0.8rem;
}

@media (max-width: 786px) {
  .contactimage {
    width: 100%;
    height: 280px;
  }

  .links {
    font-size: 19px;
  }

  .textOnImageStyle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    line-height: 0.02rem;
    margin-top: 0.8rem;
  }
}

@media (max-width: 420px) {
  .contactimage {
    width: 100%;
    height: 230px;
  }

  .links {
    font-size: 19px;
  }

  .textOnImageStyle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    line-height: 0.02rem;
    margin-top: 0.8rem;
  }
}